<aside>
<div class="sidebar">  
    <a class="navbar-brand" href="#"><img src="../../../../assets/logoU.JPG" width="150px" height="150PX" alt=""></a>      
    <div class="navigation-container">
        <br>
        <br>
        
        <br>
        <br>
      <ul>        
        <li style="color:#FFFFFF">
          <a style="color:#FFFFFF" routerLink="courses">Cursos</a>
        </li>
        <li style="color:#FFFFFF">
          <a style="color:#FFFFFF" routerLink="students">Alumnos</a>
        </li>  
        <br>
        <br>      
        
      </ul>
  
    </div>
    
  </div>
</aside>